@model Auth
@{
    ViewData["Title"] = "Sign up result";

}
<h1>@ViewData["Title"]</h1>
<div class="ml-1">
        @Model.FirstName<br>
        @Model.LastName<br>
        @Model.Day
        @Model.Month
        @Model.Year<br>
        @Model.Email<br>
        @Model.Password<br>

</div>
